// app global css in SCSS form

.command-input {
  width: 100%;
  padding: 1rem;
  border: none;
  outline: none;
  resize: none;
  font-size: large;
  border-top: 1px solid rgba(255, 255, 255, 0.28);
}

.q-scrollarea__thumb {
  z-index: 20 !important;
  width: 3px;
}

.q-item__section--avatar {
  min-width: unset;
}
