// app global css in SCSS form

body {
  font-size: 16px;
}

.q-scrollarea__thumb {
  z-index: 20 !important;
  width: 3px;
}

.q-item__section--avatar {
  min-width: unset;
}

.channel-message {
  &:hover {
    background: $dark;
  }

  &__username {
  }

  &__timestamp {
  }
}

.settings-dialog {
  height: 60px;
  border-top: 1px solid rgba(255, 255, 255, 0.28);
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  outline: none;
  background-color: $dark;
  cursor: pointer;

  &:hover {
    background-color: #313131;
  }

  -webkit-appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;

  padding: 1rem;

  border-top: 1px solid rgba(255, 255, 255, 0.28);

  &__user {
    margin-left: 0.8rem;
    line-height: 1;
  }
}

.q-card {
  box-shadow: none !important;
  border-radius: 0 !important;
  border: 1px solid rgba(255, 255, 255, 0.28);
}

.chat-input {
  height: 60px;
  position: absolute;
  bottom: 0;
}
