// app global css in SCSS form

body {
  font-size: 16px;
}

.online {
  background-color: var(--q-positive)
}

.offline {
  background-color: var(--q-accent)
}

.dnd {
  background-color: var(--q-negative)
}

.q-scrollarea__thumb {
  z-index: 20 !important;
  width: 3px;
}

.q-item__section--avatar {
  min-width: unset;
}

.channel-message {
  &:hover {
    background: $dark;
  }

  &__username {
    line-height: 1;
  }

  &__timestamp {
    line-height: 1;
    font-size: 0.85rem;
  }
}

.settings-dialog {
  height: 60px;
  border-top: 1px solid rgba(255, 255, 255, 0.28);
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  outline: none;
  background-color: $dark;
  cursor: pointer;

  &:hover {
    background-color: #313131;
  }

  -webkit-appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;

  padding: 1rem;

  border-top: 1px solid rgba(255, 255, 255, 0.28);

  &__user {
    margin-left: 0.8rem;
    line-height: 1;
  }
}

.q-card {
  box-shadow: none !important;
}

.q-tooltip {
  background-color: #373b42;
  color: white;
}
