// app global css in SCSS form

:root {
  --border-color: $border;
}

body {
  font-size: 16px;
}

.online {
  background-color: $positive;
}

.offline {
  background-color: $accent;
}

.dnd {
  background-color: $negative;
}

.q-scrollarea__thumb {
  z-index: 20 !important;
  width: 3px;
}

.q-item__section--avatar {
  min-width: unset;
}

.line-h-1 {
  line-height: 1;
}

.q-card {
  box-shadow: none !important;
}

.q-tooltip {
  background-color: #373b42;
  color: white;
}

input,
textarea {
  background-color: $input;
}
