// app global css in SCSS form

:root {
  --border-color: $border;
}

.bg-highlight {
  background-color: $highlight;
}

body {
  font-size: 16px;
}

.online {
  background-color: $positive;
}

.offline {
  background-color: $accent;
}

.dnd {
  background-color: $negative;
}

.q-scrollarea__thumb {
  z-index: 20 !important;
  width: 3px;
}

.q-item__section--avatar {
  min-width: unset;
}

.line-h-1 {
  line-height: 1;
}

.q-card {
  box-shadow: none !important;
  background-color: #242429;
}

.q-tooltip {
  background-color: #373b42;
  color: white;
}

.q-btn {
  border-radius: 0.4rem;
}

input,
textarea {
  background-color: $input;
}

.item {
  border-radius: 0.7rem;
  padding: 0rem 1rem;
}

.dropdown {
  background-color: $highlight;
  padding: 1rem;
  border-radius: 0.5rem;

  display: grid;
  gap: 1rem;
}
